@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
*, *:before, *:after {
    box-sizing: inherit;
    }
    *{
        max-width: 100%;
    }
    body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    }
    
    ol, ul {
    list-style: none;
    }
    
    img {
    max-width: 100%;
    height: auto;
    }
    html{
       width: 100%;
    }
    
    body {
        min-width: 1368px;
        margin: 0 auto;
        font-family: 'Montserrat', sans-serif;
        overflow-x: hidden;
    }
    header{
        background-image: url("olives.images/хэдэр фон.png" );
        background-repeat: no-repeat;
        background-size: 100%;
    }


    .header__top{
        position:sticky;
        display: flex;
        width: 100%;
        
        background-color: #697B03;
        padding-top: 17px;
        padding-bottom: 17px;
        align-items: center;
        justify-content: center;
    }
    p.header__top{
font-weight: 400;
font-size: 14px;
text-align: center;
letter-spacing: 0.1px;
color: #F9F9FA;
align-self: center;
margin: 0 auto;
    }
    img.close{
        width: 24px;
        padding-right: 17px;
    }
    nav{
        display: flex;
        align-items: center;
        width: 1368px;
        padding-bottom: 31px;
    }
    img.header__logo{
        padding-left: 106px;
        padding-top: 17px;
    }
    .header__menu{
        margin-left: 132px;
        padding-top: 28px;
    }
    ul.header__list{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 27px;
       
    }
    li.header__elem{
font-weight: 500;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.2px;
color: #7E4E24;
    }

    button.green_button{
        width: 195px;
        height: 58px;
box-sizing: border-box;
background: rgba(255, 255, 255, 0.6);
border: 2px solid #697B03;
border-radius: 5px;
opacity: 0.6;
margin-top: 13px;
margin-left: 48px;
display: flex;
justify-self: end;

font-weight: 600;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.2px;
color: #697B03;
padding-left: 24px;
    }

    .header__head{
        text-align-last: left;
        padding-bottom: 282px;
    }
    p.subtitle{
font-weight: 500;
font-size: 18px;
letter-spacing: 0.2px;
color: #7E4E24;
margin-left: 103px;
margin-top: 124px;
margin-bottom: 24px;
    }
    h1.title{
        font-weight: 500;
font-size: 44px;
line-height: 54px;
color: #697B03;
margin-left: 103px;
margin-bottom: 24px;
    }
    span{
        color: #7E4E24;
    }
    p.text{
width: 450px;
margin-left: 103px;
font-weight: 500;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.2px;
color: #7E4E24;
padding-bottom: 282px;

        
    }
    img.photos{
        display: flex;
        margin: 0 auto;
        margin-bottom: 104px;
    }

    .main__block{
        
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-left: 119px;
        gap: 52px;
        
    }
    .main__head_block{
        flex: 1 ;
        justify-self: start;
        align-self: start;
        margin-top: -20px;
       
    }

    img.main__block{
      width: 612px;
    }

    .main__title{
font-weight: 600;
font-size: 32px;
line-height: 42px;
letter-spacing: 0.1px;
color: #7E4E24;
padding-top: 18px;
margin-bottom: 48px;
    }
    .main__title:before{
        content: url("olives.images/желтое подчкркивание.png");
        display: flex;
        margin-bottom: 15px;
    }
    .main__text{
width: 451px;
font-weight: 500;
font-size: 18px;
margin-bottom: 24px;
letter-spacing: 0.2px;
color: #25282B;

    }

    a.main__link{
        text-decoration: none;
font-weight: 500;
font-size: 18px;
letter-spacing: 0.2px;
padding-bottom: 144px;
color: #7E4E24;
    }
    
    .video{
        margin-top: 127px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;

    }
    .main__heading{
        background-image: url("olives.images/розовый фон.png");
        margin: 0 auto;
        margin-bottom: 112px;
        

       
    }
    h2.main__heading{
        font-weight: 300;
        font-size: 52px;
        line-height: 64px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #7E4E24;
        padding-top: 138px;
        max-width: 921px;
        margin-bottom: 64px;
    }
    .heading_link{
        display: flex;
        text-align: center;
        justify-content: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
text-align: center;
letter-spacing: 0.2px;
color: #7E4E24;
text-decoration: none;
padding-bottom: 130px;
clear: both;
    }
    .second__heading_link{
        position: absolute;
        right: 116px;
        margin-top: -77px;
    }
 
    .second_block{
        margin-bottom: 144px;
    }
    .main__head_container{
        background-image: url("olives.images/розовый фон с рис.png");
        background-repeat: no-repeat;
        background-size: 100%;
       height: 868px;
       

    }
    .main__sec_container{
        margin-left: 100px;
        padding-top:163px;
        text-align: center;
    }
    .main_block_text{
        padding-left: 450px;
    }
    .main__button{
        width: 195px;
        height: 58px;
        background: #697B03;
border-radius: 5px;
border: none;
font-weight: 600;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.2px;
color: #F9F9FA;
position: absolute;
margin-top: -200px;
text-align: center;
margin-left: -40px;
    }
   
    .footer__top{
        background: rgba(78, 71, 72, 0.05);
    }
    .footer__top_container{
        display: flex;
        gap: 200px;
        
    }
    .footer__menu{
        display: flex;
        gap: 130px;
        margin-top: 117px;
        margin-left: 118px;
        
    }
    .footer__elem{
width: 117px;
font-weight: 500;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.1px;
color: #697B03;
margin-bottom: 18px;
white-space: nowrap;
    }
    .footer__blocks{
        display: flex;
        gap: 57px;
        margin-top: 117px;
    }

    .footer__title{
font-weight: 500;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.2px;
color: #697B03;
    }
    .footer__text{
        width: 310px;
font-weight: 400;
font-size: 14px;
line-height: 22px;
letter-spacing: 0.1px;
color: #697B03;
margin-bottom: 14px;
    }

    .footer__button{
width: 195px;
height: 49px;
background: rgba(255, 255, 255, 0.6);
border: 2px solid #7E4E24;
border-radius: 5px;

font-weight: 600;
font-size: 14px;
line-height: 18px;

text-align: center;
letter-spacing: 0.2px;
color: #7E4E24;
margin-bottom: 31px;
    }
    p.context{
font-weight: 400;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.2px;
color: #697B03;
padding-left: 38px;
padding-top: 11px;
padding-bottom: 22px;
    }

    .footer__bottom{
        background: #697B03;
        gap: 300px;
        display: flex;
        align-items: center;
    }

    .buttom_text{
width: 414px;
font-weight: 500;
font-size: 14px;
line-height: 18px;
padding-left: 38px;
padding-top: 37px;
padding-bottom: 39px;
display: flex;
align-items: center;
letter-spacing: 0.1px;
color: rgba(255, 255, 255, 0.87);
    }
    
    .footer__text_icons{
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 2px;  
        /*margin-left: 349px;*/

    }
    p.buttom_icon_text{
font-weight: 500;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.1px;
color: rgba(255, 255, 255, 0.87);
 }
    .footer__icons{
        display: flex;
        gap: 14px;
        margin-left: 0 auto;
    }